<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>22.3f0</Version>
<Cluster>
<Name>output cluster</Name>
<NumElts>4</NumElts>
<Array>
<Name>Input Gain Initialization</Name>
<Dimsize>8</Dimsize>
<DBL>
<Name>Input Gain Initialization</Name>
<Val>3.98107170553497</Val>
</DBL>
<DBL>
<Name>Input Gain Initialization</Name>
<Val>3.98107170553497</Val>
</DBL>
<DBL>
<Name>Input Gain Initialization</Name>
<Val>3.98107170553497</Val>
</DBL>
<DBL>
<Name>Input Gain Initialization</Name>
<Val>3.98107170553497</Val>
</DBL>
<DBL>
<Name>Input Gain Initialization</Name>
<Val>3.98107170553497</Val>
</DBL>
<DBL>
<Name>Input Gain Initialization</Name>
<Val>3.98107170553497</Val>
</DBL>
<DBL>
<Name>Input Gain Initialization</Name>
<Val>3.98107170553497</Val>
</DBL>
<DBL>
<Name>Input Gain Initialization</Name>
<Val>3.98107170553497</Val>
</DBL>
</Array>
<Array>
<Name>Output Gain Initialization</Name>
<Dimsize>8</Dimsize>
<DBL>
<Name>Input Gain Initialization</Name>
<Val>100.00000000000000</Val>
</DBL>
<DBL>
<Name>Input Gain Initialization</Name>
<Val>100.00000000000000</Val>
</DBL>
<DBL>
<Name>Input Gain Initialization</Name>
<Val>100.00000000000000</Val>
</DBL>
<DBL>
<Name>Input Gain Initialization</Name>
<Val>100.00000000000000</Val>
</DBL>
<DBL>
<Name>Input Gain Initialization</Name>
<Val>100.00000000000000</Val>
</DBL>
<DBL>
<Name>Input Gain Initialization</Name>
<Val>100.00000000000000</Val>
</DBL>
<DBL>
<Name>Input Gain Initialization</Name>
<Val>100.00000000000000</Val>
</DBL>
<DBL>
<Name>Input Gain Initialization</Name>
<Val>100.00000000000000</Val>
</DBL>
</Array>
<Array>
<Name>Input Offset Initialization</Name>
<Dimsize>8</Dimsize>
<DBL>
<Name>InputOffsetInit</Name>
<Val>-25.59000000000000</Val>
</DBL>
<DBL>
<Name>InputOffsetInit</Name>
<Val>-25.59000000000000</Val>
</DBL>
<DBL>
<Name>InputOffsetInit</Name>
<Val>-25.59000000000000</Val>
</DBL>
<DBL>
<Name>InputOffsetInit</Name>
<Val>-25.59000000000000</Val>
</DBL>
<DBL>
<Name>InputOffsetInit</Name>
<Val>-25.59000000000000</Val>
</DBL>
<DBL>
<Name>InputOffsetInit</Name>
<Val>-25.59000000000000</Val>
</DBL>
<DBL>
<Name>InputOffsetInit</Name>
<Val>-25.59000000000000</Val>
</DBL>
<DBL>
<Name>InputOffsetInit</Name>
<Val>-25.59000000000000</Val>
</DBL>
</Array>
<Array>
<Name>Output Offset Initialization</Name>
<Dimsize>8</Dimsize>
<DBL>
<Name>OutputOffsetInit</Name>
<Val>25.03000000000000</Val>
</DBL>
<DBL>
<Name>OutputOffsetInit</Name>
<Val>25.03000000000000</Val>
</DBL>
<DBL>
<Name>OutputOffsetInit</Name>
<Val>25.03000000000000</Val>
</DBL>
<DBL>
<Name>OutputOffsetInit</Name>
<Val>25.03000000000000</Val>
</DBL>
<DBL>
<Name>OutputOffsetInit</Name>
<Val>25.03000000000000</Val>
</DBL>
<DBL>
<Name>OutputOffsetInit</Name>
<Val>25.03000000000000</Val>
</DBL>
<DBL>
<Name>OutputOffsetInit</Name>
<Val>25.03000000000000</Val>
</DBL>
<DBL>
<Name>OutputOffsetInit</Name>
<Val>25.03000000000000</Val>
</DBL>
</Array>
</Cluster>
</LVData>