<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>22.3f0</Version>
<Cluster>
<Name>output cluster</Name>
<NumElts>3</NumElts>
<Cluster>
<Name>Front Panel.PanelBounds</Name>
<NumElts>4</NumElts>
<I16>
<Name>Left</Name>
<Val>796</Val>
</I16>
<I16>
<Name>Top</Name>
<Val>196</Val>
</I16>
<I16>
<Name>Right</Name>
<Val>1120</Val>
</I16>
<I16>
<Name>Bottom</Name>
<Val>379</Val>
</I16>
</Cluster>
<String>
<Name>Front Panel.Title</Name>
<Val>Menu</Val>
</String>
<Array>
<Name>Ctrl Val All</Name>
<Dimsize>0</Dimsize>
<Cluster>
<Name></Name>
<NumElts>2</NumElts>
<String>
<Name>Name</Name>
<Val></Val>
</String>
<Cluster>
<Name></Name>
<NumElts>2</NumElts>
<Array>
<Name>type string</Name>
<Dimsize>0</Dimsize>
<I16>
<Name></Name>
<Val></Val>
</I16>
</Array>
<String>
<Name>data string</Name>
<Val></Val>
</String>
</Cluster>
</Cluster>
</Array>
</Cluster>
</LVData>